html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    font-family: "Lexend Deca", sans-serif;
    color: white;
    background-color: rgb(37 39 70);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.paragraphResualts {
    width: 80%;
    margin: 15px auto;
    text-align: center;
}

.paragraphResualts:hover {
    color: rgba(255, 255, 255, 0.616);
}

.paragraphResualts__bmiResualts {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    font-size: xx-large;
}

.paragraphResualts__bmiResualts:hover {
    color: white;
    text-shadow: 9px 1px 3px #5037a1;
}